
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="wrapper">
        <form class="p-3 mt-3 "method="post">
          {% csrf_token %}
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
          {{ form.errors }}
            <button class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
            <a href="{% url 'password_reset' %}">Forget password?</a> or <a href="{% url 'users:signup' %}">Sign up</a>

        </div>
    </div>